dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	border-left: 5px solid #666666;
	color: #333333;
	font-size: 14px;
	font-style: italic;
	line-height: 1.4736842105;
	margin-bottom: 24px;
	overflow: hidden;
	padding: 0 0 0 22px;
}
b,
strong {
	font-weight: 700;
}

blockquote:before,
blockquote:after {
	content: "";
	display: table;
}

blockquote:after {
	clear: both;
}

blockquote > :last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	font-size: 16px;
	line-height: 1.75;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote.alignleft,
blockquote.alignright {
	border: 0 solid #1a1a1a;
	border-top-width: 4px;
	padding: 18px 0 0;
	width: -webkit-calc(50% - 14px);
	width: calc(50% - 14px);
}
pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	line-height: 1.3125;
	margin: 0 0 28px;
	max-width: 100%;
	overflow: auto;
	padding: 14px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

address {
	font-style: italic;
	margin: 0 0 28px;
}
code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}



code {
	background-color: #d1d1d1;
	padding: 2px 4px;
}

abbr[title] {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 2px 4px;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	top: -6px;
}

sup {
	bottom: -3px;
}

small {
	font-size: 80%;
}

big {
	font-size: 125%;
}


/**
 * 3.0 - Elements
 */

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin-bottom: 28px;
}

ul,
ol {
	margin: 0 0 28px 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

li > ul,
blockquote > ul {
	margin-left: 20px;
}

li > ol,
blockquote > ol {
	margin-left: 24px;
}

dl {
	margin: 0 0 28px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 28px;
}

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
	border: 1px solid #d1d1d1;
}

table a {
	color: #007acc;
}

table,
.mce-item-table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 28px;
	width: 100%;
}

table th,
.mce-item-table th,
table caption {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	font-weight: 700;
	padding: 7px;
	text-align: left;
	vertical-align: baseline;
}

table td,
.mce-item-table td {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	padding: 7px;
	vertical-align: baseline;
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a img {
	display: block;
}

figure {
	margin: 0;
}

del {
	opacity: 0.8;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 28px;
	padding: 14px;
}

/**
 * 5.0 - Caption
 */

.wp-caption {
	background: transparent;
	border: none;
	margin-bottom: 28px;
	max-width: 100%;
	padding: 0;
	text-align: inherit;
}

.wp-caption-text,
.wp-caption-dd {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 7px;
}


/**
 * 7.0 - Audio / Video
 */

.wp-audio-shortcode a,
.wp-playlist a {
	box-shadow: none;
}

.mce-content-body .wp-audio-playlist {
	margin: 0;
	padding-bottom: 0;
}

.mce-content-body .wp-playlist-tracks {
	margin-top: 0;
}

.mce-content-body  .wp-playlist-item {
	padding: 10px 0;
}

.mce-content-body .wp-playlist-item-length {
	top: 10px;
}


/**
 * 8.0 - RTL
 */

.rtl blockquote {
	border: 0 solid #1a1a1a;
	border-right-width: 4px;
}

.rtl blockquote.alignleft,
.rtl blockquote.alignright {
	border: 0 solid #1a1a1a;
	border-top-width: 4px;
}

.rtl blockquote:not(.alignleft):not(.alignright) {
	margin-right: -28px;
	padding: 0 24px 0 0;
}

.rtl blockquote blockquote:not(.alignleft):not(.alignright) {
	margin-right: 0;
	margin-left: auto;
}

.rtl li > ul,
.rtl blockquote > ul {
	margin-right: 20px;
	margin-left: auto;
}

.rtl li > ol,
.rtl blockquote > ol {
	margin-right: 24px;
	margin-left: auto;
}

.rtl table th,
.rtl .mce-item-table th,
.rtl table caption {
	text-align: right;
}