/*
Theme Name: Mediquip Plus
Theme URI: http://www.zylothemes.com/themes/top-free-medical-wordpress-theme/
Author: Zylo Themes
Author URI: http://www.zylothemes.com/
Description: Mediquip Plus is a top Free Medical WordPress theme it is clean codes and modern medical WordPress theme. it is perfect for Medical, Clinic, Hospital, pharmacy, Yoga, Fitness, physiotherapy business. this Theme  build in customizer it is very easy to use and user friendly. also theme is translation ready. 

Version: 1.8.1
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: mediquip-plus
Tags:blog, right-sidebar, custom-logo, full-width-template, footer-widgets,featured-images, custom-colors, editor-style, custom-header, custom-background, custom-menu, sticky-post, threaded-comments, theme-options, translation-ready

Mediquip Plus WordPress Theme has been created by Zylo Themes(zylothemes.com), 2016.
Mediquip Plus WordPress Theme is released under the terms of GNU GPL
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
 margin:0;
 padding:0;
 outline:none;
}
body{
 margin:0;
 padding:0;
 line-height:20px;
 font-size:13px;
 color:#6E6D6D;
 font-family:Arial, Helvetica, sans-serif;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
}
img{
 border:none;
 margin:0;
 padding:0;
 height:auto;
 max-width:100%;
 }
p{
 margin:0;
 padding:0;
 font-size:15px;
}
a{
 text-decoration:none;
 color:#0796D0;
}
a:hover{
 color:#333;
}
ol,ul{
 margin:0;
 padding:0;
}
.wp-caption, 
.wp-caption-text, 
.sticky, 
.gallery-caption, 
.aligncenter{
 margin:0;
 padding:0;
 max-width:100% !important;
}
.entry-content ol li, 
.entry-content ul li{
 margin-left:15px;
}
ul li ul, 
ul li ul li ul, 
ol li ol, ol li ol li ol{
 margin-left:10px;
}
h1,h2,h3,h4,h5,h6{
 color:#4B4A4A;
 font-family:'Roboto', sans-serif;
 margin:0 0 20px;
 padding:0;
 line-height:1.1;
 font-weight:400;
 }
h1{
 font-size:32px;
}
h2{
 font-size:30px;
}
h3{
 font-size:24px;
}
h4{
 font-size:20px;
}
h5{
 font-size:18px;
}
h6{
 font-size:14px;
}
.clear{
 clear:both;
}
.alignnone{
 width:100% !important;
}
img.alignleft, .alignleft{
 float:left;
 margin:0 15px 0 0;
 padding:5px;
 border:1px solid #cccccc;
}
img.alignright, .alignright{
 float:right;
 margin:0 0 0 15px;
 padding:5px;
 border:1px solid #cccccc;
}
.left{
 float:left;
}
.right{
 float:right;
}
#comment-nav-above .nav-previous, 
#comment-nav-below .nav-previous{
 float:none !important;
 margin:10px 0;
}
ol.comment-list li{
 list-style:none;
 margin-bottom:5px;
}

.logo{
 z-index:9999;
 padding:15px 0;
 color:#333;
 text-align:center;
 }
.logo h1{
 font-weight:600;
 margin:0;
 line-height:36px;
 color:#333;
}
.logo h1 span{
 color:#0796D0;
}
.logo a{
 color:#0796D0;
}
.logo p{
 text-transform:none;
}
.hidetitle{ display:none;}
.boxlayout{
 width:1140px;
 margin:0 auto;
 background-color:#fff;
 position:relative;
 box-shadow:0 -8px 8px #111;
}
.fulllayout{
 width:100% !important;
}
.container{
 width:1100px;
 margin:0 auto;
 position:relative;
}

/*header*/
.header{
 width:100%;
 z-index:9999;
 border-top:4px solid #0796d0;
 background-color:#fff;
 box-shadow:0px 0px 3px #ccc;
 position:relative;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit- box-sizing:border-box;
}
.headerInfo{
font:600 14px/18px 'Roboto', sans-serif;
position:absolute; 
background-color:#0796d0;
color:#fff;
top:0;
right:0;
padding:10px 20px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.headerInfo h5{ 
display:none;
}
.headerInfo .fa{ margin-right:10px;}
body.home .fixed-header {
position:fixed !important;
top:auto;
z-index:99999;
}
body.home .boxlayout .fixed-header{ 
width:auto;
padding:0 20px;
}

/*header menu css*/
.toggle{
display: block;
}
.toggle a{
 width:100%;
 color:#ffffff;
 background:url(images/mobilenav.png) no-repeat right center #0796D0;
 padding:10px 10px;
 margin-top:5px;
 font-size:16px;
 display:none;
}
.toggle a:hover{
color:#ffffff !important;
}
.headerNav{ box-shadow:0px 0px 3px #ccc;}
.sitenav{
 padding:0;
 text-align:center;
}
.sitenav ul {
 margin:0;
 padding:0;
 font-family:'Roboto', sans-serif;
 font-weight:600;
 font-size:15px;
}
.sitenav ul li{
 display:inline-block;
 margin:0;
 position:relative;
 text-align:center;
}
.sitenav ul li a{
 padding:18px 13px;
 display:block;
 color:#333;
 }
.sitenav ul li ul li{
 display:block;
 position:relative;
 float:none;
 top:-1px;
 border-bottom:1px solid #e7e6e6;
}
.sitenav ul li ul li a{
 display:block;
 padding-top:10px;
 padding-bottom:10px;
 position:relative;
 top:1px;
 text-align:left;
  }
.sitenav ul li a:hover, 
.sitenav ul li.current_page_item a{
 color:#0796D0;
 }

.sitenav ul li ul{
 display:none;
 z-index:9999999;
 position:relative;
}
.sitenav ul li:hover > ul{
 display:block;
 width:200px;
 position:absolute;
 left:0;
 text-align:left;
 background-color:#fff;
 box-shadow:0 2px 2px #333;
 }
.sitenav ul li:hover ul li ul{
 display:none;
 position:relative;
}
.sitenav ul li:hover ul li:hover > ul{
 display:block;
 position:absolute;
 left:200px;
 top:1px;
}

section#home_slider{
 padding:0;
 }
#wrapsecond{
 padding:45px 0;
}

/* = Services section css
-------------------------------------------------- */
.last_column{
 clear:right;
 margin-right:0 !important;
 }
.page4box{
 color:#6e6d6d;
 width:23.1%;
 float:left;
 margin:0 2.2% 0 0;
 position:relative;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 text-align:center;
}
.page4box .thumbbx{
 height:150px;
 width:150px;
 overflow:hidden;
 border-radius:50%;
 margin: auto;
 border:4px solid #ccc;
}
.page4box .thumbbx img{
 width:100%;
 height:auto;
 min-height:150px;
}
.pagecontent{
 padding:20px 0;
}
.page4box p{
 margin-bottom:20px;
 line-height:20px;
 }
.page4box h3{
 font-size:20px;
 font-weight:600;
 color:#404040;
 margin:0 0 25px;
}
.page4box h3 a{
color:#404040;
}
.pagemore{
 border:1px solid #404040;
 color:#404040 ;
 padding:8px 20px;
 display:inline-block;
 -moz-border-radius:20px;
 -webkit-border-radius:20px;
 border-radius:20px;
}
.page4box:hover .pagemore{
 background-color:#0796D0;
 border-color:#0796D0;
 color:#fff;
 }
.page4box:hover h3 a{
 color:#0796D0;
}	

/*services section css*/
.ReadMore{
 background-color:#262626;
 color:#fff ;
 padding:8px 10px;
}
.MoreLink{
 background-color:#262626;
 color:#fff ;
 display: inline-block;
 padding:6px 15px;
}

/* = Our Services css
----------------------------------------- */
#ourservices{
 padding:0 0 50px 0;
 margin-top:-45px;
 position:relative;
 z-index:9999;
}
#ourservices .container{
 background-color:#fff;
 padding:30px;
 position:relative;
 box-sizing:border-box;
}

.lastcols{
 margin-right:0 !important;
}

/* = Page lay out css
-------------------------------------- */
.site-main{
 width:740px;
 margin:0;
 padding:0;
 float:left;
}
.fullwidth{
 width:100% !important;
 float:none  !important;
}
.fullwidth p{
 margin-bottom:15px;
}
.contentsecwrap{
 padding:25px 0;
}
.contentsecwrap p{
 margin-bottom:20px;
 line-height:20px;
}

.listarticle{
 margin-bottom:30px;
 
 }
.listarticle h2 a{
 color:#484f5e;
}
.listarticle h2 a:hover{
 color:#34c6f6;
}
.listarticle p{
 margin-bottom:10px;
}
.blog-meta{
 font-style:italic;
 margin-bottom:8px;
}
.post-date, 
.post-comment, 
.post-categories{
 display:inline;
 color:#000000;
} 
.single_title{
 margin-bottom:15px;
 font-size:20px;
 text-transform:none;
}
.BlogPosts{
 width:31.2%;
 float:left;
 margin:0 3% 0 0;
}
.BlogPosts img{
 width:100%;
}
.post-thumb{
 margin:0 0 15px 0;
}
.postmeta{
 margin-bottom:10px;
 border-top:1px solid #ddd;
 border-bottom:1px solid #ddd;
}
.post-thumb img{
 width:100%;
}
.nav-links .page-numbers{
padding:5px 10px;
color:#111;
}
select{ border:1px solid #ccc; height:30px; width:100%;}
/* = sidebar
---------------------------------------------- */
#sidebar{
 width:330px;
 float:right;
}
aside.widget{
 margin-bottom:25px;
}
aside.widget ul{
 list-style:disc;
 }
h3.widget-title{
 padding:0;
 margin:0 0 10px;
 color:#111111;
 font-size:20px;
 text-transform:uppercase;
}
#sidebar ul li{
 list-style:inside none disc;
 list-style-position:inside;
 border-bottom:1px solid #ccc;
 padding:8px 0;
}
#sidebar ul li a{
 padding:0 0 0 10px;
 color:#3b3b3b;
  display:inline-block;
 }
#sidebar ul li a:hover{
 color:#34c6f6;
}
#sidebar ul li:last-child{
 border:none;
}

#sidebar .search-form input.search-field{
 background-color:#f0efef;
 width:80%;
 padding: 12px 15px 12px 15px;
 box-sizing:border-box;
 border:1px solid #ddd;
 }
#sidebar .search-form input.search-submit{
 background:url(images/search-icon.png) no-repeat center center #0796d0;
 padding: 12px 0 12px 0;
 font-size:0;
 width:20%;
 height:43px;
 float:right;
 border:0;
}
.textwidget select{ 
width:100%;
}
table{ 
width:100%;
}

/* = Footer css
------------------------------------------- */
#footer{
 background-color:#1A191A;
 position:relative;
 color:#595959;
}
.ftr-4-box{
 width:22%;
 float:left;
 margin:0 4% 2% 0;
 box-sizing:border-box;
 padding:35px 0 15px;
 }
.widget-column-4 {
 margin-right:0px !important;
}
.ftr-4-box h5{
 font-weight:400;
 font-size:20px;
 color:#fff;
 margin-bottom:25px;
 border-bottom:1px solid #303030;
 padding-bottom:15px;
 text-transform:uppercase;
 }
.ftr-4-box h5 span{
 font-weight:300;
 color:#0796D0;
 }
.ftr-4-box ul{
 margin:0;
 padding:0;
 list-style:inside disc;
}
.ftr-4-box ul li {
 display:block;
 padding:0;
 border-bottom:1px solid #303030}
.ftr-4-box ul li a {
 color:#595959;
 font:normal 12px/24px Arial, Helvetica, sans-serif;
 background:url(images/list-arrow.png) no-repeat 0 12px;
 padding:5px 0 5px 20px;
 display:block;
}
.ftr-4-box ul li a:hover, 
.ftr-4-box ul li.current_page_item a {
 color:#dd5145;
}
.ftr-4-box a.readmore span{
 color:#fff;
}
.ftr-4-box p{
 margin-bottom:15px;
}
.copywrap {
 background-color:#111111;
 color:#ccc;
 position:relative;
 padding:15px 0;
 text-align:center;
}
.copywrap a{
 color:#0796D0;
}
.copywrap a:hover{
 color:#fff;
 }
#slider-main{
 min-height:350px;
 position:relative;
 background:url(images/slider-loader.gif) no-repeat center center #fff;
}

/*後付け*/
#index_recommend_ranking {
    margin: 0 0 50px 0;
    position: relative;
}
#ranking_list {

}
#ranking_list .item {
	/*height: 210px;*/
    background: #f6f6f6;
    border: 1px solid #ddd;
    position: relative;
    margin: 0 10px 22px 0;
    padding: 15px;
    border-radius: 2px;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*/
}
.imagew img {
    height: 150px;
}
.imagew {
    display: block;
    float: left;
    width: 30%;
}
#ranking_list .data {
    width: 70%;
    float: right;
}
.clearfix {
    display: block;
}
#ranking_list img {
    display: block;
    margin: 0 auto;
}
#ranking_list .title {
    display: block;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 10px 0;
    font-weight: 700;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#ranking_list ul.meta {
    margin: 0 14px 10px;
    display: block;
}
#ranking_list ul li {
    margin-bottom: 10px;
}
#ranking_list ul.meta li.kai-date {
    color: #ff4f41;
}
#ranking_list .catch {
    font-size: 15px;
    margin: 0 0 5px 0;
}
.data_top .button {
    float: right;
}
#ranking_list .data .g_design_button {
    float: right;
}
.g_design_button {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    min-width: 165px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background: #FF6D1E;
    color: #fff;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    transition: box-shadow .3s,background-color .3s,color .3s,transform .3s;
}
.postsec-list h1 {
   /* margin: 3em 0 1.5em;*/
    padding: 1.1em .9em 1em;
    font-size: 22px;
    font-weight: 400;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #222;
    background: #fafafa;
    box-shadow: 0 1px 2px #f7f7f7;

}

.postsec-list h2 {
	margin: 3em 0 1.5em;
    padding: 1.1em .9em 1em;
    font-size: 22px;
    font-weight: 400;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #222;
    background: #fafafa;
    box-shadow: 0 1px 2px #f7f7f7;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: .1em;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
li {
    list-style: none;
}
.site-title {
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}













