/* Default CSS
----------------------------------- */

/* Buttons */
/*.button{
 background-color:#ff6565;
 border-bottom:4px solid #e44545;
 color:#fff;
 padding:8px 20px;
 display:inline-block;
 border-radius:2px;
 -moz-border-radius:2px;
 -webkit-border-radius:2px;
 -o-border-radius:2px;
 -ms-border-radius:2px;
 }
.button:hover{
background-color:#34c6f6;
 border-color:#1898c2;
 color:#fff;
}*/

/* woocommerce CSS
----------------------------------------------*/
a.added_to_cart{
background:#e1472f;
 padding:5px;
 display:inline-block;
 color:#fff;
 line-height:1;
}
a.added_to_cart:hover{
background:#000000;
}
a.button.added:before{
content:'' !important;
}
#bbpress-forums ul li{
padding:0;
}
#subscription-toggle a.subscription-toggle{
padding:5px 10px;
 display:inline-block;
 color:#e1472f;
 margin-top:4px;
}
textarea.wp-editor-area{
border:1px #ccc solid;
}
.woocommerce input[type=text], .woocommerce textarea{
border:1px #ccc solid;
 padding:4px;
}
form.woocommerce-ordering select{
 padding:5px;
 color:#777777;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{
 font-family:'Roboto',san-serif;
 color:#ff8a00;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{
 color:inherit !important;
}
h1.product_title, p.price{
 margin-bottom:10px;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{
 font-family:'Roboto',san-serif;
 color:#ff6d84;
}
.woocommerce ul.products li, #payment ul.payment_methods li{
 list-style:none !important;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{
 color:inherit !important;
}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{
 border-bottom:0px !important}

/* Text meant only for screen readers. */
.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
 /* Above WP toolbar. */
}
/* Contact form css
-------------------------------------*/
.wpcf7{
 margin:30px 0 0;
 padding:0;
}
.wpcf7 input[type="text"], 
.wpcf7 input[type="tel"], 
.wpcf7 input[type="email"]{
 width:40%;
 border:1px solid #cccccc;
 box-shadow:inset 1px 1px 2px #ccc;
 height:35px;
 padding:0 15px;
 color:#797979;
 margin-bottom:0;
}
.wpcf7 textarea{
width:60%;
 border:1px solid #cccccc;
 box-shadow:inset 1px 1px 2px #ccc;
 height:150px;
 color:#797979;
 margin-bottom:25px;
 font:12px arial;
 padding:10px;
 padding-right:0;
}
.wpcf7 input[type="submit"]{
background-color:#0796D0;
 width:auto;
 border:none;
 cursor:pointer;
 font:18px 'Roboto',san-serif;
 color:#ffffff;
 padding:10px 40px;
 border-radius:3px;
}	



/*  Comment  form
--------------------------------*/
h1.screen-reader-text{
font:22px 'Roboto',san-serif;
}
.site-nav-previous, .nav-previous{
 float:left;
}
.site-nav-next, .nav-next{
 float:right;
}
h3#reply-title{
font:300 18px 'Roboto',san-serif;
}
#comments{
 margin:30px 0 0;
 padding:0;
}
nav#nav-below{
 margin-top:15px;
}
.postmeta{padding:5px 0; color:#999;}
.postmeta a{color:#999;}
.postmeta a:hover{color:#0796D0;}
.breadcrumbs{padding:10px 0; margin-bottom:0;}
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}

#commentform input#submit{ background-color:#32373a; border:none; padding:8px 15px; color:#fff; display:inline-block; cursor:pointer;}
#commentform input#submit:hover{background:#34c6f6; border-bottom-color:#ccc; color:#fff;}
.form-allowed-tags{display:none;}
ul.errormsg{background:#ffe4e4;}
ul.errormsg li{padding:5px;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}

/* Comment CSS
------------------------------------------------------*/
.commentlist, ol.commentlist {list-style:none; box-shadow:0 0 5px #666; -moz-box-shadow:0 0 5px #666; -webkit-box-shadow:0 0 5px #666; -khtml-box-shadow:0 0 5px #666; margin:10px 0; background-color:#fff; padding:10px 0;}
.commentlist li, ol.commentlist li { list-style:none; background-image:none !important; padding:0px 15px;}
.commentlist li ol li.depth-2, .commentlist li ol li.depth-3, .commentlist li ol li.depth-4, ol.commentlist li ol li.depth-2, ol.commentlist li ol li.depth-3, ol.commentlist li ol li.depth-4 { border-bottom:none;}
.commentlist li.bypostauthor article, ol.commentlist li.bypostauthor article { background:#f9ffe1;}
.commentlist article, .commentlist li.bypostauthor li article, ol.commentlist li.bypostauthor li article { border:none !important; padding:10px; position:relative; background-color:#fff;}
.commentlist li .fn { font-weight:normal; font-size:15px; font-style:normal;}
.commentlist li.bypostauthor .fn, ol.commentlist li.bypostauthor .fn { color:#000;}
img.avatar { vertical-align:middle; position:static; display:inline-block;}
.commentlist article a time { display:block; clear:both; padding:5px 0 10px; font-size:11px; font-style:italic; font-family:Georgia, "Times New Roman", Times, serif; }
.commentlist, ol.commentlist p { font-size:14px;}
.commentlist .reply span, ol.commentlist .reply span { display:none;}
.commentlist .reply a, ol.commentlist .reply a { display:block;	padding:10px; text-align:center; background:#f6f6f6; margin:5px 0; border:1px #ddd solid;}
.comment-author.vcard{display:inline-block; margin-right:15px; }
.comment-list ul.children li.comment{background-image:none; padding-left:5px;}