/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ 
position:relative;
}
.slider-main{
position:relative;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:9;
	cursor:pointer;
}
a.nivo-prevNav {
	left:0%;
	background-position:-57px 0;
	border-radius:0 3px 3px 0;
}
a.nivo-nextNav {
	right:0%;
	background-position:-41px 0 !important;
	border-radius:3px 0 0 3px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0 5px;
	position: absolute;
    text-align: center;
    width: 100%;
	bottom:10%;
	right:auto;
	z-index:9;	
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a {
    border: 0 none;
    display:inline-block;
	background-color:#fff;
    height: 15px;
    margin:5px;
    text-indent: -9999px;
    width:15px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
}
.nivo-controlNav a.active {
	font-weight:bold;
    background-position: 0 -21px;
	background-color:#0796D0;
}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 43px;   
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 43px;
	background:url(../images/slide-nav.png) no-repeat left top;
	background-color:rgba(0,0,0,0.7);
}


/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0;	
	right:0;
	margin:0 auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color:#fff;
	z-index:8;	
	overflow: hidden;	
	width:50%; 
	bottom:40%;
	text-align:center;
	 }
 
.slide_info h2{ 
font:400 50px/50px 'Roboto', sans-serif; 
color:#fff; 
margin:0 0 20px 0; 
text-shadow:2px 1px 3px #000;
border:2px solid #fff; 
padding:10px 20px;
display:inline-block;
 }
.slide_info p{ 
font:400 16px/20px 'Roboto', sans-serif; 
margin-bottom:20px; 
text-shadow:2px 1px 3px #000;
 }